<div class="container">
    <div class="card mx-auto" style="width: 50%;">
      <h5 class="card-header">Enter the Details</h5>
      <div class="card-body">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Title</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Price</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Description</label>
        </div>
        <div class="mb-3">
          <input type="file" class="form-control" aria-label="file example" required>
        </div>
      </div>
    </div>
</div>
  